{% extends 'issues/base.html' %}
{% load staticfiles %}
{% block title %}GitHub Issue Tracker{% endblock %}
{% block body_block %}


        <h3>Users can view number of open issues of a public github repo as:</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Total number of open issues</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened in the last 24 hours</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened more than 24 hours ago but less than 7 days ago</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened more than 7 days ago</h3>

{% endblock %}