{% extends 'issues/../issues/base.html' %}
{% load staticfiles %}
{% block title %}GitHub Issue Tracker{% endblock %}
{% block body_block %}
 
    <h3>Users can view total number of open issues of a public github repo as:</h3>
        <ul>
            <li>Total number of open issues</li>
            <li>Number of open issues that were opened in the last 24 hours</li>
            <li>Number of open issues that were opened more than 24 hours ago but less than 7 days ago</li>
            <li>Number of open issues that were opened more than 7 days ago</li>
        </ul>

    <h3>Users can also track the contributors of public github repo:</h3>
        <ul>
            <li>Users will be able to see at most 100 contributors and their profile.</li>
        </ul>

        

{% endblock %}