<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>About</h1>
        <h3>Users can view number of open issues of a public github repo as:</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Total number of open issues</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened in the last 24 hours</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened more than 24 hours ago but less than 7 days ago</br></br>
            &nbsp;&nbsp;&nbsp;&nbsp; Number of open issues that were opened more than 7 days ago</h3>

</body>
</html>