{% extends 'issues/../issues/base.html' %}
{% load staticfiles %}
{% block title %}GitHub Issue Tracker{% endblock %}
{% block body_block %}

    {% if total %}

        <div class="panel panel-default">
            <div class="panel-heading"><h2>Total number of open issues: {{ total }}</h2></div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading"><h2>Total number of opened issues in last 24 Hours: {{ count }}</h2></div>
        </div>


            <h4>And their URL's are:</h4> {% for url, title in dict_of_url_and_title.iteritems %}
                                <li><a href={{ url }} target="_blank">{{ title }}</a></li><br>
                              {% endfor %}<br><br>


        <div class="panel panel-default">
            <div class="panel-heading"><h2>Total number of open issues that were opened more than 24 Hours but less than 7 days ago: {{ count2 }}</h2></div>
        </div>


            <h4>And their  URL's are:</h4> {% for url2, title2 in dict_of_url_and_title2.iteritems %}
                                <li><a href={{ url2 }} target="_blank">{{ title2 }}</a></li><br>
                              {% endfor %}<br><br>

        <div class="panel panel-default">
        <div class="panel-heading"><h2>Total Number of open issues that were opened more than 7 days ago: {{ total_greater_than_7days }}</h2></div>
            </div>

            <h4>And URL's are:</h4> {% for url3, title3 in dict_of_url_and_title3.iteritems %}
                                    <li><a href={{ url3 }} target="_blank">{{ title3 }}</a></li><br>
                                  {% endfor %}<br><br>



        <div class="panel panel-default">
        <div class="panel-heading"><h2>Contributors in this repo are:</h2></div>
            </div>

            <h4>Contributors:</h4> {% for login, html_url in dict_of_contributor_name_and_contributor_url.iteritems %}
                                    <li><a href={{ html_url }} target="_blank">{{ login }}</a></li><br>
                                  {% endfor %}<br><br>



    {% elif error %}
        {{ error }}

    {% endif %}


{% endblock %}