{% extends 'issues/base.html' %}
{% load staticfiles %}
{% block title %}GitHub Issue Tracker{% endblock %}
{% block body_block %}

        <div class="span7 text-center">
        <h1>GITHUB ISSUE TRACKER:</h1>
            <form action="geturl" method="get">
                <input type="url" name="URL" size="35" placeholder="Enter public repo Issue URL">
                <input type="submit" name="submit" value="Track Issues" class="btn btn-primary">
            </form>
        </div>


{% endblock %}