{% extends 'issues/../issues/base.html' %}
{% load staticfiles %}
{% block title %}GitHub Issue Tracker{% endblock %}
{% block body_block %}

        <div class="span7 text-center">
        <h1>GITHUB ISSUES & CONTRIBUTOR TRACKER:</h1>
            <form action="geturl" method="get">
                <input type="url" name="URL" size="75" placeholder="Enter GitHub public repo URL, ex: http://github.com/freecodecamp/freecodecamp">
                <input type="submit" name="submit" value="Track" class="btn btn-primary">
            </form>
        </div>


{% endblock %}